// Copyright 2013 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

#include "cmdEx_exe/resource.h"

CMDEX_X64_EXE RCDATA "out\\cmdEx_x64.exe"
CMDEX_DLL_X64_DLL RCDATA "out\\cmdEx_dll_x64.dll"
GIT2_X64_DLL RCDATA "third_party\\libgit2\\Release\\git2.dll"
