// Copyright 2013 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

#include "cmdEx_exe/resource.h"

CMDEX_X86_EXE RCDATA "out\\cmdEx_x86.exe"
CMDEX_DLL_X86_DLL RCDATA "out\\cmdEx_dll_x86.dll"
GIT2_X86_DLL RCDATA "third_party\\libgit2\\Release\\git2.dll"
DBGHELP_X86_DLL RCDATA "third_party\\dbghelp\\dbghelp.dll"
SYMSRV_X86_DLL RCDATA "third_party\\dbghelp\\symsrv.dll"
ANSI32_DLL_X86 RCDATA "third_party\\ansicon\\x86\\ansi32.dll"

// TODO: x64 resources.
